:root {
    --header_background:       #14df51;
    --header_hover_background: #000c3510;
    --header_hover_color:      #2a3961;
    --body_background:         #2a2f4e;
    --body_header_color:       #14df51;
    --body_color:              #ececec;
    --error_color:             #cf206f;
    --footer_color:            #14df51;
    --footer_background:       #20243b;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    margin: 0;
    margin-bottom: 30px;
    background-color: var(--body_background);
    color: var(--body_color);
}
input {
    cursor: pointer;
}
.header {
    overflow: hidden;
    background-color: var(--header_background);
    padding: 10px 15px;
    margin-bottom: 30px;
    border-bottom-color: var(--header_hover_background);
    box-shadow: 3px 6px rgb(0 0 0 / 6%), 0 3px 6px rgb(0 0 0 / 16%)
}
.header a {
    float: left;
    color: var(--body_background);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    border-radius: 8px;
    font-size: medium;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.header a:hover {
    background-color: var(--header_hover_background);
    color: var(--header_hover_color);
}
.header-right {
    float: right;
}
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }
    .header-right {
        float: none;
    }
}
h1 {
    color: var(--body_header_color);
    text-align: center;
}
div.body {
    padding-left: 10%;
    padding-right: 10%;
}
table {
    background-color: #00000013;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
}

th, td {
    color: #e6e9ee;
    padding: 12px;
}
tr:nth-child(even){
    background-color: #0000001f;
    border-radius: 8px;
}
ul {
    list-style-type: none;
    padding: 0;
    border: 0;
}
li {
    padding: 12px 16px;
    background-color: #00000013;
}
li:nth-child(odd) { background: #00000023; }
ul li:last-child {
    border-bottom: none
}
.body a {
    text-decoration: none;
    color: var(--body_color);
}
.body a:hover {
    color: var(--header_background);
    text-decoration: underline;
}
.button {
    margin-top: 8px;
    background-color: var(--error_color);
    padding: 12px 30px;
    border-radius: 8px;
    border: 1px;
    cursor: pointer;
}
.button a {
    color: var(--body_background);
}
.error {
    color: var(--error_color);
}
.footer {
    margin-top: 60px;
    padding: 20px 20px;
    background-color: var(--footer_background);
    text-align: center;
    cursor: default;
}
.footer a {
    color: var(--footer_color);
    font-size: smaller;
    text-decoration: none;
}
.footer href {
    cursor: pointer;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
  margin-right: 12px;
  margin-bottom: 12px;
}
