{% include "./header.html" %}
<div class="body">
    <h1>Budget</h1>
    <div class="flex-container">
        <div>
            <table>
                <tr>
                    <th>Income</th>
                    <th>Price</th>
                    <th>Account</th>
                </tr>
                <tr>
                    <td>Rent & Bills</td>
                    <td>1000</td>
                    <td>AIB</td>
                </tr>
                <tr>
                    <td>Transportation</td>
                    <td>20</td>
                    <td>Revolut</td>
                </tr>
            </table>
        </div>
    </div>
</div class="body">
{% include "./footer.html" %}
