{% include "./header.html" %}
<div class="body">
    <h1>Investments</h1>
</div>
<div class="body">
    <div class="flex-container">
        <div>
            <table>
                <tr>
                    <td>&#128640;</td>
                    <th>Tesla</th>
                    <td>10000</td>
                    <td>10000</td>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </div>
    </div>
</div class="body">
{% include "./footer.html" %}
