{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'perfin/style.css' %}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfin</title>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Perfin</a>
        <div class="header-right">
            <a href={% url 'home' %}>&#127968; Home</a>
            <a href={% url 'budget' %}>&#127919; Budget</a>
            <a href={% url 'investments' %}>&#128142; Investments</a>
            <a href={% url 'networth' %}>&#128176; Net Worth</a>
            <a href={% url 'settings' %}>&#9881; Settings</a>
        </div>
    </div>
</head>
