{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'perfin/style.css' %}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfin</title>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Perfin</a>
        <div class="header-right">
            <a href={% url 'home' %}>Dashboard</a>
            <a href={% url 'budget' %}>Budget</a>
            <a href={% url 'investments' %}>Investments</a>
            <a href={% url 'networth' %}>Net Worth</a>
            <a href={% url 'settings' %}>Settings</a>
        </div>
    </div>
</head>
