{% include "./header.html" %}
<div class="body">
    <h1>&#128142; Investments</h1>
    <div class="flex-container">
        <div>
            <table>
                <tr>
                    <th></th><th>Asset</th><th>Price</th><th>Performance</th>
                </tr>
                <tr>
                    <td>&#128640;</td><td>Bitcoin</td><td>50000</td><td>+500%</td>
                </tr>
                <tr>
                    <td>&#128640;</td><td>Tesla</td><td>10000</td><td>+50%</td>
                </tr>
                <tr>
                    <td>&#11014;</td><td>Square</td><td>10000</td><td>+5%</td>
                </tr>
                <tr>
                    <td>&#11015;</td><td>Crispr</td><td>10000</td><td>-30%</td>
                </tr>
            </table>
        </div>
    </div>
</div class="body">
{% include "./footer.html" %}